<div class="sky-container">
  <div class="sky-group">
    <div class="text-group">
      <div class="title">
        <h3>Editar registro</h3>
      </div>
      <%= render 'form', tb_admin: @tb_admin %>

    </div>
  </div>
</div>
