<% if @errors %>
  <% @errors.each do |error| %>
    <div class="alert alert-danger" role="alert">
      <p class="mb-3"><%= error[:message] %></p>
      <%if error[:debug] %>
        <pre class="alert-pre border bg-light p-2"><code><%= error[:debug] %></code></pre>
      <% end %>
    </div>
  <% end %>
<% end %>